accelerate==0.22.0
aiohttp==3.8.5
aiosignal==1.3.1
albumentations==1.3.1
annotated-types==0.5.0
anyio==3.7.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.0
augly==1.0.0
av==10.0.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
Brotli @ file:///D:/bld/brotli-split_1693583621767/work
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog==6.7.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
contourpy==1.1.0
cycler==0.10.0
Cython==3.0.2
datasets==2.14.4
debugpy @ file:///D:/bld/debugpy_1691021411613/work
decorator==4.4.2
decord==0.6.0
dill==0.3.7
evaluate==0.4.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1692026125334/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fastapi==0.103.1
ffmpeg-python==0.2.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1693242237773/work
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.0
future==0.18.3
fvcore==0.1.5.post20221221
h11==0.14.0
httptools==0.6.0
huggingface-hub==0.16.4
idna==2.10
imageio==2.31.3
imageio-ffmpeg==0.4.8
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
iopath==0.1.10
ipykernel @ file:///D:/bld/ipykernel_1693880431923/work
ipython @ file:///D:/bld/ipython_1693579916565/work
ipywidgets==8.1.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1690896916983/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1693317508789/work
jupyter_core @ file:///D:/bld/jupyter_core_1686775767894/work
jupyterlab-widgets==3.0.8
kiwisolver==1.4.5
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.40.1
MarkupSafe @ file:///D:/bld/markupsafe_1685769192208/work
matplotlib==3.7.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
moviepy==1.0.3
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.15
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numba==0.57.1
numpy==1.24.4
opencv-python==4.8.0.76
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas==2.1.0
parameterized==0.9.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.0.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
portalocker==2.7.0
proglog==0.1.10
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
psutil @ file:///D:/bld/psutil_1681775154843/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
pyarrow==13.0.0
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1691408637400/work
pyparsing==3.0.9
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
python-magic==0.4.27
python-magic-bin==0.4.14
pytorchvideo==0.1.5
pytz==2023.3.post1
PyWavelets==1.4.1
pywin32==304
PyYAML==6.0.1
pyzmq @ file:///D:/bld/pyzmq_1691667609471/work
qudida==0.0.4
regex==2023.8.8
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-toolbelt==1.0.0
responses==0.18.0
safetensors==0.3.3
scikit-image==0.21.0
scikit-learn @ file:///D:/bld/scikit-learn_1688116465061/work
scipy==1.11.2
screeninfo==0.8.1
seaborn==0.12.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
soundfile==0.12.1
soxr==0.3.6
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.27.0
supervision==0.13.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180539862/work
tabulate==0.9.0
termcolor==2.3.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tifffile==2023.8.30
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado @ file:///D:/bld/tornado_1692311900923/work
tqdm==4.66.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
transformers==4.33.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata==2023.3
ultralytics==8.0.176
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1689789803562/work
uvicorn==0.23.2
vidgear==0.3.2
watchfiles==0.20.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
websockets==11.0.3
widgetsnbextension==4.0.8
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
xxhash==3.3.0
yacs==0.1.8
yarl==1.9.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
